*{
    box-sizing: border-box;
    font-weight: 700;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4e53;
}
.container{
    background-color: #b2d0c7;
    padding: 5px 20px 15px 20px;
    border: 1px solid #282a26;
    border-radius: 4px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="submit"],
select,
textarea {
    font-size: medium;
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
/* .left-content h3{
    text-align: center;
}
.right-content h3{
    text-align: center;
} */
input[type="submit"]{
    background-color: rgb(25, 230, 25);
    color: #282a26;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}
input[type="submit"]:hover{
    background-color: #2a4c08;
}